@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.tab {
    fill: $main-text;
    color: $main-text;
    height: 36px;
    width: 122px;
    border-radius: 4px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    .icon {
        fill: $main-text;
        pointer-events: none;
        width: 15px;
        height: 15px;
    }

    p {
        color: $main-text;
        margin: 0;
        text-transform: capitalize;
    }

    &.active {
        background: $main-text;

        p, .icon {
            fill: $white;
            color: $white;
        }
    }
}