@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.custom-button {
    @include primary;
    border: none;
    padding-block: 10px;
    transition: 150ms ease-in-out;

    &__default {
        padding-inline: 32px;
    }

    &__project {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 11.5px;
        width: 166px;
        padding-block: 7px;
    }

    &__full {
        width: 100%;
    }

    &:hover {
        @include primary-hover;
        cursor: pointer;
    }

    &:active {
        @include primary-pressed;
    }

    &__secondary {
        padding-inline: 16px;
        @include secondary;

        &:hover {
            @include secondary;
            cursor: pointer;
            background-color: $light;
            color: $light-text;
        }
    
        &:active {
            @include secondary;
            cursor: pointer;
            background-color: $light;
            color: $light-text;
        }
    }

    &__timebank {
        border: 1px solid $main-text;
        background: $white;
        color: $main-text;
        transition: all 200ms ease-in-out;
        outline: none;
        @include timebank;

        &:hover {
            background: $main-accent;
            border-color: $main-accent;
            color: $white;
            @include timebank;
        }

        &.active {
            background: $main-accent;
            border-color: $main-accent;
            color: $white;
            @include timebank;
        }
    }

    &__minor {
        border: none;
        background: none;
        color: $main-accent;
        text-decoration: underline;
        transition: all 200ms ease-in-out;
        @include ubuntu-medium-12-16;
        padding: 0;

        &:hover {
            @include ubuntu-medium-12-16;
            border: none;
            background: none;
            color: $blue-accent;
            padding: 0;
        }
    }
}