@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.filter-selector {
    width: 146px;
    height: 36px;
    padding: 0 14px;
    border-radius: 8px;
    border: 1px solid $stroke;
    background: $card-bg;
    color: $light-text;
    @include ubuntu-regular-14-20;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $light-text;
        width: 10px;
    }

    .options {
        display: none;
    }

    &.selected {
        color: $main-text;
        border-color: $light-text;
        border-radius: 8px;
    }

    &.open {
        color: $main-text;
        border-color: $light-text;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        .icon {
            transform: rotate(180deg);
        }

        .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            gap: 6px;
            padding-block: 4px;
            width: 146px;
            border-radius: 8px;
            border: 1px solid $light-text;
            border-top: none;
            background: $card-bg;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            left: -1px;
            right: -1px;
            top: 35px;
            z-index: 10;

            .option {
                padding: 6px 16px;

                &:hover {
                    background: $stroke;
                    cursor: pointer;
                }
            }
        }
    }
}