@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.details {
    margin-bottom: 42px;

    &:last-child {
        margin-bottom: 0;
    }

    .text {
        @include ubuntu-regular-14-20;
        color: $main-text;
        text-align: start;
        margin: 0;
        margin-bottom: 20px;
    }

    .rows {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .row {
            display: flex;
            flex-wrap: nowrap;
            gap: 15px;
            background-color: $white;
        }

        .technology {
            display: flex;
            align-items: center;

            .icon-wrapper {
                margin-left: 7px;
                margin-right: auto;
                width: 24px;
                height: 24px;
                display: flex; 
                justify-content: center;
                align-items: center;
                color: $main-accent;
                cursor: pointer;
            }
        }
    }
} 