@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.popup-background {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    transition: 500ms ease-in;
    display: none;
    opacity: 0;
        
    &.show {
        display: flex;
        justify-content: center;
        backdrop-filter: blur(2.5px);
        background: rgba(255, 255, 255, 0.3);
        opacity: 100;
    }

    .popup {
        z-index: 20;
        position: absolute;
        top: 60px;
        border-radius: 8px;
        background: $white;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    
        .popup-head {
            text-align: center;
            padding: 24px;
            padding-bottom: 12px;
            position: relative;
    
            p {
                @include ubuntu-bold-18-26;
                color: $main-text;
                margin: 0;
            }
            
            .icon-container {
                cursor: pointer;
                position: absolute;
                top: 30px;
                right: 24px;
    
                .icon {
                    pointer-events: none;
                    fill: #114861;
                }
            }
        }

        .popup-content {
            padding-inline: 30px;
            padding-bottom: 42px;
            color: $main-text;
            @include ubuntu-regular-14-20;
        }
    
        .popup-footer {
            height: 80px;
            background: $light;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 12px;
            padding-inline: 30px;
        }

        &__small {
            width: 450px;
        }

        &__big {
            width: 586px;
        }
    }
}