@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.edit-block {
    position: relative;
    width: 100%;
    height: 100%;

    .edit-header {
        margin: 0;
        @include ubuntu-medium-12-16;
        color: $light-text;
        margin-bottom: 5px;
    }

    .edit-text-container {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .bank-row {
            display: flex;
            align-items: center;
        
            .edit-text {
                margin: 0;
                @include ubuntu-medium-14-20;
                color: $main-text;
            
                &:first-child {
                    margin-right: 10px;
                }
            }
    
            .ellipse {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $main-accent;
                margin-inline: 6px;
            }
        }
    }

    .icons-wrapper-container {
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        height: 20px;
        display: flex;
        gap: 15px;

        .edit-icon-wrapper {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $light-text;
            cursor: pointer;
            position: static;
    
            .icon {
                transition: color 200ms ease-in-out;
                pointer-events: none;
                width: 15px;
                height: 15px;
            }
    
            &:hover .icon {
                color: $main-accent;
            }
        }
    }


    button {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}