@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.search {
    width: 300px;
    border: 1px solid $light-text;
    position: relative;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .icon {
        position: absolute;
        fill: $light-text;
        width: 17px;
        height: 17px;
        left: 13px;
    }

    input {
        color: $main-text;
        border: none;
        outline: none;
        width: 233px;
        padding-left: 46px;
        @include ubuntu-regular-14-20;

        &:focus > & {
            outline: 1px solid $main-accent;
        }

        &::placeholder {
            color: $light-text;
            opacity: 1;
          }
          
        &:-ms-input-placeholder {
            color: $light-text;
          }
          
        &::-ms-input-placeholder {
            color: $light-text;
          }
    }

    button {
        flex-basis: 66px;
        background: $light;
        color: $main-text;
        border: none;
        border-left: 1px solid $light-text;
        align-self: stretch;
        @include ubuntu-regular-14-20;
        transition: 200ms ease-in-out;

        &:hover {
            cursor: pointer;
            background: $card-bg;
        }
    }
}