@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.tasks-preview {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .commented, .not-commented {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }

    .task {
        flex: 0 0 max-content;
        @include ubuntu-regular-14-20;
        min-height: 28px;
        display: flex;
        width: 100%;
       
        p {
            margin: 0;
        }

        &__full {
            flex-basis: 100%;
            height: max-content;
            gap: 4px;

            .icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {

                    path {
                        fill: $main-accent;
                    }
                }
            }
        }
    }
}