//colors
$white: #FFFFFF;
$light: #ECEFF7;
$stroke: #E3E5E5;
$card-bg: #F8F8F8;
$light-text: #95AFB8; 
$main-text: #114861;
$blue-accent: #29CBFF;
$main-accent: #0E65E7;
$success: #0DC32A;
$warning: #FFB800;
$danger: #F4BCCB;